@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Noto Sans TC', sans-serif;
}
body{
	background-color: #000;
}
.main-footer {
	padding: 150px 0 0 0;
	background: linear-gradient(-20deg,#3f5494,#08c7a5); 
}
.main-footer .container{
	display: flex;
	width: 1200px;
	margin: auto;
}
.footer-item{
	width: 0;
	flex-grow: 1; /* 平均欄寬的概念 */
	margin: 0 20px;
}
.footer-item h4{
	font-size: 24px;
	color: #fff;
	border-bottom: 1px dotted #fff;
	margin-bottom: .5em;
	padding-bottom: .5em;
}
.footer-item nav{
	display: flex; 
	flex-direction: column; /*把各項細目變成逐列排列 */
}
.footer-item nav a{
	color: #fff;
	line-height: 1.4;
	text-decoration: none;
	padding: 5px 0;
}
.footer-item nav a:hover{
	color: #fa0;
}
.footer-subs {
	display: flex;
	flex-direction: column; /* 置中 */
}
.footer-subs form{
	display: flex;
	width: 100%;
	margin: auto 0px;
}
.footer-subs input[type="text"], /*指定footer-subs 下input項目中 type的元素 */
.footer-subs input[type="submit"]{
	border:none;
	padding: 5px 10px;
}

.footer-subs input[type="text"]{
	width: 0;
	flex-grow: 1; /* 滿版的一種做法 */
}
.footer-subs input[type="submit"]{
	color: #70f6df;
	background-color: #3e5293; 
}
.copyright{
	width: 100%;
	text-align: center;
	margin: 150px 0 0 ;
	padding: 10px 0px;
	background-color: #3e5293;
	color: #70f6df;
}